

<div class="limit-height">

  <button class="btn btn-danger" (click)="delAll.emit($event)">Delete All</button>

  <clr-datagrid (clrDgRefresh)="updatedState.emit($event)">
    <clr-dg-column>ID</clr-dg-column>
    <clr-dg-column [clrDgField]="'name'">Name</clr-dg-column>
    <clr-dg-column [clrDgField]="'description'">description</clr-dg-column>
    <clr-dg-column [clrDgField]="'status'">Status</clr-dg-column>
 

    <clr-dg-column [clrDgField]="'date'"> Date</clr-dg-column>

    <clr-dg-row *clrDgItems="let user of users">
      <clr-dg-cell>{{user._id}}</clr-dg-cell>
      <clr-dg-cell>{{user.name}}</clr-dg-cell>
      <clr-dg-cell>{{user.description}}</clr-dg-cell>
      <clr-dg-cell *ngIf="user.status == true" style="background-color: green;font-size: 20px;  color: aliceblue;">Completed</clr-dg-cell>

      <clr-dg-cell *ngIf="user.status == false" style="background-color: rgb(170, 32, 8);  font-size: 20px;  color: aliceblue;">Pending</clr-dg-cell>
      
      <clr-dg-cell>{{user.date | date:'short'}}</clr-dg-cell>


      <clr-dg-action-overflow>


        <button class="action-item" (click)="edit.emit(user)">
          Update
      </button>


      
      <button class="action-item" (click)="changeStatus.emit(user)">
        Change Status
    </button>

      <button class="action-item" (click)="del.emit(user)">
        Delete
    </button>


  

    </clr-dg-action-overflow>


    </clr-dg-row>

    <clr-dg-footer *ngIf="total > 0">
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of
      {{ pagination.totalItems }} Todos
      <clr-dg-pagination
        #pagination
        [clrDgTotalItems]="total"
      ></clr-dg-pagination>
    </clr-dg-footer> </clr-datagrid>

  </div>
