<div class="row">
    <div class="col-xl-3 col-lg-6" >
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Total Black Listed</h5>
              <span class="h2 font-weight-bold mb-0">{{one  }}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                <i class="fas fa-chart-bar"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm">
            <span class="text-success mr-2"><i class="fa fa-arrow-up"></i>{{one}}</span>
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body" >
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Total individuals</h5>
              <span class="h2 font-weight-bold mb-0">{{three}}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-warning text-white rounded-circle shadow">
                <i class="fas fa-chart-pie"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm">
            <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
            <span class="text-nowrap">Since last week</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">total Business</h5>
              <span class="h2 font-weight-bold mb-0">{{two}}</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                <i class="fas fa-users"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm">
            <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
            <span class="text-nowrap">Since yesterday</span>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-lg-6">
      <div class="card card-stats mb-4 mb-xl-0">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h5 class="card-title text-uppercase text-muted mb-0">Total Sys  Users</h5>
              <span class="h2 font-weight-bold mb-0">1</span>
            </div>
            <div class="col-auto">
              <div class="icon icon-shape bg-info text-white rounded-circle shadow">
                <i class="fas fa-percent"></i>
              </div>
            </div>
          </div>
          <p class="mt-3 mb-0 text-muted text-sm">
            <span class="text-success mr-2"><i class="fas fa-arrow-up"></i> 12%</span>
            <span class="text-nowrap">Since last month</span>
          </p>
        </div>
      </div>
    </div>
  </div>






<div class="card">
  <div class="card-block">
      <h3>
          <clr-icon shape="switch" size="28"> </clr-icon> Black List
      </h3>
      <br/>

      <button class="btn btn-success" (click)="dialog=true" solid>New +</button>

      |

  </div>
</div>

<clr-modal [(clrModalOpen)]="dialog">
  <h3 class="modal-title">Add Black-List</h3>
  <div class="modal-body container">
      <form
          clrStepper
          [formGroup]="vendorForm"
          (ngSubmit)="onSubmit()"
          clrForm
          clrLayout="vertical">

          <clr-input-container>
              <label>Name</label>
              <input clrInput formControlName="name" required/>
          </clr-input-container>
          <clr-select-container>
            <label>Type</label>
            <select clrSelect formControlName="type" required>
                <option disabled>Select Accouunt Type
                </option>
                <option value="bussiness">bussiness</option>
                <option value="individual">individual</option>

            </select>
        </clr-select-container>
          <clr-input-container>
              <label>Instituion</label>
              <input clrInput formControlName="institution" required/>
          </clr-input-container>

          <clr-input-container>
              <label>account Manager</label>
              <input type="text" clrInput formControlName="manager" required/>
          </clr-input-container>

          <clr-input-container>
              <label>email</label>
              <input clrInput  type="email" formControlName="email" required/>
          </clr-input-container>
          <clr-date-container>
            <label>Date</label>
            <input clrDate placeholder="Pick a date" formControlName="date"  />
          </clr-date-container>

         

      <br/>
      

          <button type="submit" class="btn btn-success">submit</button>

      </form>

  </div>

</clr-modal>